nav {
  height: 55px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

span {
  font-size: 28px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.right {
    display: flex; gap: 20px;
}