@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #2e2e2e;
  color: #fff;
}
